@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$font-family: 'Oswald', sans-serif;
$background-image: url(../img/bj3.jpg);

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $font-family;
}

body {
  background-image: $background-image;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .container {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  /* Estilos para dispositivos móviles */
  body {
    section {
      margin-bottom: 20px;
    }
  }
}

#tituloDev {
  font-size: 70px;
}

#tituloDevSobreMi {
  font-size: 70px;
}

#parrafoDev {
  font-size: 20px;
}

#parrafoDevSobreMi {
  font-size: 25px;
}

#parrafoDevHabilidades {
  font-size: 23px;
}

#tecnologias {
  font-size: 50px;
}

#imagenesProyectos1 {
  display: flex;
  justify-content: space-around;
}

#imagenesProyectos2 {
  display: flex;
  justify-content: space-around;
}

#inputEnviar {
  width: 150px;
  padding: 10px;
  border-radius: 10%;
  border: 3px solid #fff;
}

.row {
  margin-top: 20px;
  justify-content: space-around;
}

#textCopyrigth {
  font-size: 20px;
}
