@charset "UTF-8";
@import 'archivo-partial';

body {
  background-image: url(../img/bj3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    margin-top: 20px;
  }

  @include mobile-styles;
}

#tituloDev {
  font-size: 70px;
}

#tituloDevSobreMi {
  font-size: 70px;
}

#parrafoDev {
  font-size: 20px;
}

#parrafoDevSobreMi {
  font-size: 25px;
}

#parrafoDevHabilidades {
  font-size: 23px;
}

#tecnologias {
  font-size: 50px;
}

#imagenesProyectos1 {
  display: flex;
  justify-content: space-around;

  #imagen1,
  #imagen2,
  #imagen3,
  #imagen4 {
    @include image-transition;
  }
}

#imagenesProyectos2 {
  display: flex;
  justify-content: space-around;
}

#inputEnviar {
  width: 150px;
  padding: 10px;
  border-radius: 10%;
  border: 3px solid #fff;
}

.row {
  margin-top: 20px;
  justify-content: space-around;
}

#textCopyrigth {
  font-size: 20px;
}
